.contact-main {
  margin-bottom: 160px;
  .main-background {
    max-height: 918px;
  }
  @include max-991 {
    margin-bottom: 80px;
  }
}
.contact-main-header {
  padding: 125px 0 75px;
  text-align: center;
  @include max-991 {
    padding: 60px 40px;
  }
}
.contact-main-title {
  font-weight: 800;
  font-size: 64px;
  color: $hover;
  margin-bottom: 30px;
  @include max-991 {
    font-size: 48px;
  }
}
.page-pargh {
  font-weight: 700;
  font-size: 20px;
  color: $main;
  margin-bottom: 38px;
}
.contact-cont {
  background: $white;
  box-shadow: 0px 0px 20px 6px #26282a14;
  padding: 55px 65px;
  border-radius: 10px;
  form {
    width: 100%;
  }
  @include max-991 {
    padding: 30px 20px;
  }
}
.contact-header {
  font-size: 36px;
  font-weight: 700;
  color: $main;
  margin-bottom: 75px;
  @include max-991 {
    font-size: 28px;
  }
}
.group-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
  margin-bottom: 37px;
  .form-group {
    margin: 0;
  }
  @include max-991 {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.form-custom {
  background-color: transparent;
  border-radius: 0;
  width: 100%;
  height: 67px;
  max-width: 100%;
  padding: 0 10px;
  color: #878787;
  font-size: 16px;
  font-weight: 700;
  @include tr;
  border: none;
  border-bottom: 2px solid #878787;
  outline: none !important;
  &:focus {
    border-color: $hover;
  }
  &::placeholder {
    color: #878787;
  }
}
textarea.form-custom {
  height: 249px;
  padding: 22px 10px;
}
.file-upload-cont {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 70px;
  .text {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.2px;
    color: #878787;
    max-width: 158px;
  }
}
.file-upload {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: 1;
    inset: 0;
    cursor: pointer;
  }
  .file-btn {
    padding: 0 10px;
    @include flexCenter;
    gap: 6px;
    color: $black;
    font-weight: 700;
    font-size: 14px;
    height: 41px;
    border-radius: 22px;
    background: $sec;
    border: 1px solid $main;
    @include tr;
    i {
      font-size: 25px;
    }
  }
}
.submit-btn {
  @include flexCenter;
  @include tr;
  width: max-content;
  padding: 0 33px;
  width: 100%;
  max-width: 279px;
  height: 62px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  color: $white;
  background-color: $hover;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  border: 1px solid $hover;
  margin: 0 auto;
  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $main;
  }
}
.contact-select-head {
  font-weight: 700;
  font-size: 16px;
  color: $hover;
  margin-bottom: 20px;
}
.contact-cat .check-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 60px;
}
.check-label {
  /* min-width: 25%; */
  text-align: start;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #7f8189;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 159px;
  height: 45px;
  padding: 0 15px;
  border: 1px solid #d9d9d9;
  transition: all 0.3s ease-in-out;
}
.check-label:has(input[type="checkbox"]:checked) {
  border-color: $hover;
  color: $hover;
  background-color: #eef4f7;
}
.check-label input[type="checkbox"],
.check-label input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-label .checkmark {
  border: none;
  border-radius: 0;
  background-color: $white;
  border: 1px solid #d9d9d9;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;
  // position: absolute;
  // inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.check-label input[type="checkbox"] ~ .checkmark {
  border-radius: 4.5px;
  width: 18px;
  height: 18px;
}
.check-label:hover input ~ .checkmark {
  background-color: $white;
  transition: all 0.3s ease-in-out;
}
.check-label input:checked ~ .checkmark {
  background-color: $hover;
}
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: visible;
}
.check-label input:checked ~ .checkmark:after {
  opacity: 1;
  visibility: visible;
}
.check-label input:checked ~ .checkmark {
  background-color: $white;
}
.check-label .custom-checkmark {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.check-label input:checked ~ .custom-checkmark {
  color: $hover;
  background-color: transparent;
  border-color: $hover;
}
.check-label .checkmark:after {
  content: "";
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: $hover;
}
.check-label .custom-checkmark:after {
  content: "\f00c";
  font-family: "Font Awesome 6 Pro";
  font-weight: bold;
  font-size: 9px;
  line-height: 14px;
  color: $hover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.filter-cat {
  .check-width {
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
  .span-text {
    color: #475156;
    font-size: 14px;
  }
  .check-label .checkmark:after {
    width: 8px;
    height: 8px;
  }
  .check-label input:checked ~ .checkmark {
    background-color: $hover;
    &:after {
      background-color: $white;
    }
  }
  .check-label input:checked ~ .span-text {
    color: #191c1f;
    font-weight: 500;
  }
}
.contact-location {
  margin-bottom: 120px;
  @include max-991 {
    margin-bottom: 60px;
  }
}
.contact-location-container {
  display: flex;
  gap: 10px;
  @include max-991 {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.subscribe-content {
  text-align: start;
  @include max-991 {
    padding-top: 0;
    text-align: center;
  }
  @include max-991 {
    .contact-ancors {
      justify-content: center;
      align-items: center;
    }
    .contact-item {
      font-size: 16px;
      gap: 10px;
    }
  }
  .custom-btn {
    margin: 0 auto;
  }
}
.subscribe-head {
  font-size: 48px;
  font-weight: 700;
  color: $hover;
  margin-bottom: 40px;
  @include max-991 {
    font-size: 28px;
    margin-bottom: 25px;
  }
}
.subscribe-pargh {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  // text-align: justify;
  color: $main;
  margin-bottom: 40px;
  max-width: 582px;
  @include max-991 {
    font-style: 16px;
    margin-bottom: 25px;
  }
}
.subscribe-img {
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  figure {
    width: 100%;
    overflow: hidden;
    position: relative;
    @include flexCenter;
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.page-main {
  .social {
    margin-top: 45px;
    a {
      background: rgba(255, 255, 255, 0.2);
      color: $white;
      &:hover {
        background-color: $white;
        color: $hover;
      }
    }
  }
}
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.faq-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
  figure {
    flex-shrink: 0;
    padding-inline-end: 17px;
    border-inline-end: 3px solid $hover;
    @include max-767 {
      border: 0;
      padding: 0 0 15px;
      border-bottom: 3px solid $hover;
    }
    img {
      width: 70px;
      height: 70px;
    }
  }
  @include max-767 {
    flex-direction: column;
  }
}
.faq-text {
  background-color: $sec;
  padding: 18px 40px;
  border-radius: 11px;
  font-size: 22px;
  font-weight: 700;
  color: $hover;
  margin: 0;
  line-height: 35px;
  @include max-991 {
    font-size: 16px;
    line-height: unset;
    padding: 15px 10px;
  }
}
.faq-pargh {
  font-weight: 700;
  font-size: 22px;
  color: $main;
  margin: 0;
  line-height: 35px;
  @include max-991 {
    font-size: 16px;
    line-height: unset;
  }
}
